######## This is a sample file. Copy to a file named .tfvars and edit values for your environment.

######## EDIT THESE ITEMS

# Determines if Columnstore LocalStorage or S3 Topology
use_s3 = true

# Grab your enterprise token from the MariaDB website (https://customers.mariadb.com/downloads/token/)
mariadb_enterprise_token = ""

# Create a random string for the columnstore API key
cmapi_key = "<random>"

# Set a password for the PCS cluster
pcs_pass = "<random>"

######## DATABASE CREDENTIALS

# MariaDB admin credentials
admin_user = "admin"
admin_pass = "<random>"

# MaxScale user credentials
maxscale_user = "admin"
maxscale_pass = "<random>"

# Replication user credentials
repli_user = "replication"
repli_pass = "<random>"

# Columnstore utility user credentials
cej_user = "cej"
cej_pass = "<random>"

######## Cluster Size

# Number of Columnstore nodes
num_columnstore_nodes = 3

# Number of MaxScale instances
num_maxscale_instances = 2

######## MariaDB Versions

mariadb_version = "11.4"
maxscale_version = "latest"

######## AWS CONFIGURATION
# Possible Authentication Combinations (leave unused variables = "")
# 1) aws_access_key + aws_secret_key
# 2) aws_access_key + aws_secret_key + aws_session_token
# 3) aws_profile
aws_access_key = ""
aws_secret_key = ""
aws_session_token = ""
aws_profile = ""

key_pair_name = ""
ssh_key_file = ""

# aws_region will influence aws_vpc, aws_subnet, aws_zone & aws_ami
aws_region = "us-west-2"
aws_zone = "us-west-2a"

# Confirm your VPC exists in aws_region chosen
aws_vpc = ""

# Confirm your subnet exists in aws_vpc chosen
aws_subnet = ""

######## AWS EC2 Options

# AMI's are specific to regions
aws_ami = "ami-01f99b4d609a9f41e"

security_group_name = "mcs_traffic"
aws_mariadb_instance_size = "c6a.8xlarge"
aws_maxscale_instance_size = "c6a.large"

# Number of GB for EBS root storage on columnstore nodes
columnstore_node_root_block_size = 1000

# Number of GB for EBS root storage on maxscale nodes
maxscale_node_root_block_size = 100

# Prefix of the cluster to standup - Any Name You Want
deployment_prefix = "testing"

# S3 Configuration
s3_domain = "amazonaws.com"
s3_ssl_disable = false
s3_use_http = false

######## Optional Install Options

reboot = true

# Optional - Requires "mariadb_rpms_path" to be defined
# Arguments for cs_package_manager to auto download rpms
cs_package_manager_custom_version = ""

# The path mariadb and columnstore rpms are preloaded to after terraform apply --auto-approve, but before running ansible
mariadb_rpms_path = ""

create_shared_efs = false
shared_efs_include_dev_host = false
shared_efs_mount_point = "/shared"