---

# Project Components

# Version Configuration
mariadb_version: ${mariadb_version}
maxscale_version: ${maxscale_version}

# MariaDB Enterprise Token
enterprise_token: ${mariadb_enterprise_token}

# Columnstore Settings
use_s3: ${use_s3}
api_key: "${cmapi_key}"

# Storage Manager Configuration
s3_access_key_id: ${aws_access_key}
s3_secret_access_key: ${aws_secret_key}
s3_endpoint: s3.${aws_region}.${s3_domain}
s3_bucket: ${s3_bucket}
s3_use_http: ${s3_use_http}
s3_ssl_disable: ${s3_ssl_disable}
s3_port:

# Database Credentials
admin_user: ${admin_user}
admin_pass: "${admin_pass}"
cej_user: ${cej_user}
cej_pass: "${cej_pass}"
maxscale_user: ${maxscale_user}
maxscale_pass: "${maxscale_pass}"
repli_user: ${repli_user}
repli_pass: "${repli_pass}"

# SSH key file
ssh_key_file: ${ssh_key_file}

# AWS Configuration
aws_region: ${aws_region}
aws_zone: ${aws_zone}
aws_mariadb_instance_size: ${aws_mariadb_instance_size}
aws_maxscale_instance_size: ${aws_maxscale_instance_size}
mariadb_has_nvme: ${mariadb_has_nvme}

# PCS Credentials
pcs_pass: "${pcs_pass}"

# Install Options
mariadb_rpms_path: ${mariadb_rpms_path}
cs_package_manager_custom_version: ${cs_package_manager_custom_version}
reboot: ${reboot}

# EFS Configuration
create_shared_efs: ${create_shared_efs}
shared_efs_volume_id: ${shared_efs_volume_id}
shared_efs_mount_point: "${shared_efs_mount_point}"
shared_efs_include_dev_host: ${shared_efs_include_dev_host}
shared_efs_dns_name: "${shared_efs_dns_name}"
