[defaults]
command_warnings = false
deprecation_warnings = false
display_skipped_hosts = false
host_key_checking = false
inventory = inventory/hosts
timeout = 600
remote_user = mariadb
private_key_file = ${ssh_key_file}
