[defaults]
action_warnings = false
command_warnings = false
deprecation_warnings = false
display_skipped_hosts = false
host_key_checking = false
inventory = inventory/hosts
nocows = 1
private_key_file = ${ssh_key_file}
remote_user = mariadb
timeout = 600
