mcs1 ansible_host=${publicdns1}
mcs2 ansible_host=${publicdns2}
mx1 ansible_host=${publicdns4}
mx2 ansible_host=${publicdns5}

mcs1_private ansible_host=${privatedns1}
mcs2_private ansible_host=${privatedns2}
mx1_private ansible_host=${privatedns4}
mx2_private ansible_host=${privatedns5}

[primary]
mcs1

[replicas]
mcs2

[maxscale]
mx1
mx2
