# [name] [public_dns] [private_dns] [private_ip] [ec2 instance_id(optional)]
%{ for node in columnstore_nodes ~}
${node.name} ansible_host=${node.public_dns} private_dns=${node.private_dns} private_ip=${node.private_ip} instance_id=${node.id}
%{ endfor ~}
%{ for node in maxscale_nodes ~}
${node.name} ansible_host=${node.public_dns} private_dns=${node.private_dns} private_ip=${node.private_ip} instance_id=${node.id}
%{ endfor ~}

[primary]
mcs1

[replicas]
%{ for i in range(1, length(columnstore_nodes)) ~}
${columnstore_nodes[i].name}
%{ endfor ~}

[maxscale]
%{ for node in maxscale_nodes ~}
${node.name}
%{ endfor ~}
