---

# Project Components
use_s3: false

# AWS Configuration
aws_region: us-west-2
aws_zone: us-west-2a

# Storage Manager Configuration
s3_access_key_id:
s3_secret_access_key:
s3_endpoint:
s3_bucket:
s3_use_http: false
s3_ssl_disable: false
s3_port:

# Version Configuration
mariadb_version: 10.6
maxscale_version: latest

# MariaDB Enterprise Token
enterprise_token: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# Columnstore Settings
api_key: xxxxxxxxxxxxxxxxxxxxxxx

# Database Credentials
admin_user: admin
admin_pass: C0lumnStore!
cej_user: cejuser
cej_pass: C0lumnStore!
maxscale_user: maxuser
maxscale_pass: C0lumnStore!
repli_user: repliuser
repli_pass: C0lumnStore!

# PCS Credentials
pcs_pass: demodemo

# Private IPs
mcs1_private: x.x.x.x
mcs2_private: x.x.x.x
mx1_private: x.x.x.x
mx2_private: x.x.x.x

# Instance IDs
mcs1_id: i-xxxxxxxxxxxxxxxxx
mcs2_id: i-xxxxxxxxxxxxxxxxx
mx1_id: i-xxxxxxxxxxxxxxxxx
mx2_id: i-xxxxxxxxxxxxxxxxx